backend/n8n_workflow_3_gst_reminder.json
{
    "name": "AutoCFO — GST Deadline Reminder",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * *"
                        }
                    ]
                }
            },
            "name": "Cron — 9 AM Daily",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "http://localhost:8000/dashboard/demo_001",
                "method": "GET"
            },
            "name": "Fetch GST Days",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{$json[\"gst_days_remaining\"]}}",
                            "operation": "smallerEqual",
                            "value2": 5
                        }
                    ]
                }
            },
            "name": "Check If Within 5 Days",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "from": "whatsapp:+14155238886",
                "to": "={{$env.OWNER_WHATSAPP_TO}}",
                "message": "📋 GST Filing Reminder — {{$node['Fetch GST Days'].json['gst_days_remaining']}} days left!\n\nGSTR-3B Checklist:\n✅ Download GSTR-1 from GST portal\n✅ Reconcile sales invoices\n✅ Match purchase invoices with GSTR-2A\n✅ Calculate tax liability\n✅ Make GST payment if outstanding\n✅ File GSTR-3B before deadline\n\nDon't miss it — AutoCFO is watching."
            },
            "name": "Send GST Reminder",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                900,
                240
            ],
            "credentials": {
                "twilioApi": {
                    "id": "1",
                    "name": "Twilio"
                }
            }
        }
    ],
    "connections": {
        "Cron — 9 AM Daily": {
            "main": [
                [
                    {
                        "node": "Fetch GST Days",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch GST Days": {
            "main": [
                [
                    {
                        "node": "Check If Within 5 Days",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check If Within 5 Days": {
            "main": [
                [
                    {
                        "node": "Send GST Reminder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}